.router-view {
  transition: opacity 0.2s ease;
}
.router-view.v-enter,
.router-view.v-leave {
  opacity: 0;
}
.fade-transition {
  transition: all 0.2s ease;
  opacity: 1;
}
.fade-enter,
.fade-leave {
  opacity: 0;
  transition: all 0.2s ease;
}
html {
  font-family: 'Calibri', 'Candara', 'Segoe', 'Segoe UI', 'Optima', 'Arial', 'sans-serif';
  font-weight: 300;
  color: #666;
  font-size: 14px;
  line-height: 1.75em;
}
@media (min-width: 600px) {
  html {
    font-size: calc( 14px + (18 - 14) * ((100vw - 600px) / (1400 - 600)) );
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 18px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
p,
blockquote,
pre,
address,
dl,
ol,
ul,
table {
  margin-bottom: 1.75em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Segoe', 'Segoe UI', 'Helvetica Neue', 'Arial', 'sans-serif';
  font-weight: 500;
  color: #369ecf;
  clear: both;
}
h1 {
  font-size: 32.49678827773071px;
  margin-top: 0.942400822452556em;
  line-height: 1.130880986943067em;
  margin-bottom: 0.188480164490511em;
}
@media (min-width: 600px) {
  h1 {
    font-size: calc( 32.49678827773071px + (41.78158492851092 - 32.49678827773071) * ((100vw - 600px) / (1400 - 600)) );
  }
}
@media (min-width: 1400px) {
  h1 {
    font-size: 41.78158492851092px;
    margin-top: 0.942400822452556em;
    line-height: 1.130880986943067em;
    margin-bottom: 0.188480164490511em;
  }
}
h2 {
  font-size: 27.459837310039262px;
  margin-top: 1.115265165420465em;
  line-height: 1.338318198504558em;
  margin-bottom: 0.247421680709243em;
}
@media (min-width: 600px) {
  h2 {
    font-size: calc( 27.459837310039262px + (35.305505112907625 - 27.459837310039262) * ((100vw - 600px) / (1400 - 600)) );
  }
}
@media (min-width: 1400px) {
  h2 {
    font-size: 35.305505112907625px;
    margin-top: 1.115265165420465em;
    line-height: 1.338318198504558em;
    margin-bottom: 0.242006425681431em;
  }
}
h3 {
  font-size: 23.203605804040404px;
  margin-top: 1.319837970815179em;
  line-height: 1.583805564978215em;
  margin-bottom: 0.298096030457675em;
}
@media (min-width: 600px) {
  h3 {
    font-size: calc( 23.203605804040404px + (29.833207462337665 - 23.203605804040404) * ((100vw - 600px) / (1400 - 600)) );
  }
}
@media (min-width: 1400px) {
  h3 {
    font-size: 29.833207462337665px;
    margin-top: 1.319837970815179em;
    line-height: 1.583805564978215em;
    margin-bottom: 0.290511933503311em;
  }
}
h4 {
  font-size: 19.6070834735957px;
  margin-top: 1.561935513828041em;
  line-height: 1.87432261659365em;
  margin-bottom: 0.360184181283628em;
}
@media (min-width: 600px) {
  h4 {
    font-size: calc( 19.6070834735957px + (25.209107323194473 - 19.6070834735957) * ((100vw - 600px) / (1400 - 600)) );
  }
}
@media (min-width: 1400px) {
  h4 {
    font-size: 25.209107323194473px;
    margin-top: 1.561935513828041em;
    line-height: 1.87432261659365em;
    margin-bottom: 0.349562608279624em;
  }
}
h5 {
  font-size: 16.56801643620442px;
  margin-top: 1.84844094752817em;
  line-height: 2.218129137033805em;
  margin-bottom: 0.369688189505634em;
}
@media (min-width: 600px) {
  h5 {
    font-size: calc( 16.56801643620442px + (21.30173541797711 - 16.56801643620442) * ((100vw - 600px) / (1400 - 600)) );
  }
}
@media (min-width: 1400px) {
  h5 {
    font-size: 21.30173541797711px;
    margin-top: 1.848440947528171em;
    line-height: 2.218129137033805em;
    margin-bottom: 0.369688189505634em;
  }
}
h6 {
  font-size: 14px;
  margin-top: 2.1875em;
  line-height: 2.625em;
  margin-bottom: 0.59375em;
}
@media (min-width: 600px) {
  h6 {
    font-size: calc( 14px + (18 - 14) * ((100vw - 600px) / (1400 - 600)) );
  }
}
@media (min-width: 1400px) {
  h6 {
    font-size: 18px;
    margin-top: 2.1875em;
    line-height: 2.625em;
    margin-bottom: 0.46875em;
  }
}
blockquote {
  font-style: italic;
}
blockquote cite {
  display: block;
  font-style: normal;
}
pre {
  padding: 0.875em;
  margin-bottom: 1.75em;
}
pre code {
  padding: 0;
}
code {
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', 'monospace';
  padding: 0.0875em 0.2625em;
  line-height: 0;
}
big,
small,
sub,
sup {
  line-height: 0;
}
abbr,
acronym {
  border-bottom: 1px dotted currentColor;
  cursor: help;
}
address {
  font-style: normal;
}
dt {
  color: #369ecf;
  font-weight: bold;
}
ul {
  padding-left: 1.1em;
}
ol {
  padding-left: 1.4em;
}
fieldset {
  padding: 0.875em 1.75em 1.75em;
  border-width: 1px;
  border-style: solid;
  max-width: 100%;
  margin-bottom: 1.847222222222222em;
}
@media (min-width: 1400px) {
  fieldset {
    margin-bottom: 2.065972222222222em;
  }
}
fieldset button,
fieldset input[type="submit"] {
  margin-bottom: 0;
}
legend {
  color: #369ecf;
  font-weight: bold;
}
label {
  display: block;
  padding-bottom: 0.21875em;
  margin-bottom: -0.194444444444444em;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: block;
  max-width: 100%;
  padding: 0.4375em;
  font-size: 14px;
  margin-bottom: 1.215277777777778em;
}
@media (min-width: 600px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: calc( 14px + (18 - 14) * ((100vw - 600px) / (1400 - 600)) );
  }
}
@media (min-width: 1400px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: 18px;
    margin-bottom: 0.522569444444444em;
  }
}
input[type="submit"],
button {
  display: block;
  cursor: pointer;
  font-size: 14px;
  padding: 0.4375em 1.75em;
  margin-bottom: 1.166666666666667em;
}
@media (min-width: 600px) {
  input[type="submit"],
  button {
    font-size: calc( 14px + (18 - 14) * ((100vw - 600px) / (1400 - 600)) );
  }
}
@media (min-width: 1400px) {
  input[type="submit"],
  button {
    font-size: 18px;
    margin-bottom: 1.3125em;
  }
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 2.236111111111111em;
}
@media (min-width: 1400px) {
  table {
    margin-bottom: 2.090277777777778em;
  }
}
th {
  text-align: left;
  color: #369ecf;
  padding: 0.21875em 0.875em;
}
@media (min-width: 1400px) {
  th {
    padding: 0.4375em 0.875em;
  }
}
td {
  padding: 0.21875em 0.875em;
}
@media (min-width: 1400px) {
  td {
    padding: 0.4375em 0.875em;
  }
}
html,
body {
  margin: 0;
  padding: 0;
}
html h1,
body h1,
html h2,
body h2,
html h3,
body h3,
html h4,
body h4,
html h5,
body h5,
html h6,
body h6 {
  text-transform: uppercase;
}
body {
  background: #fff;
}
.container {
  *zoom: 1;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.container:before {
  content: '';
  display: table;
}
.container:after {
  content: '';
  display: table;
  clear: both;
}
.slick-slider {
  margin-bottom: 0;
}
form {
  width: 100%;
}
form input,
form select,
form textarea {
  border: none !important;
  width: 100%;
  box-sizing: border-box !important;
  background: #666;
  color: #fff !important;
  font-family: 'Calibri', 'Candara', 'Segoe', 'Segoe UI', 'Optima', 'Arial', 'sans-serif' !important;
}
form input.form-error,
form select.form-error,
form textarea.form-error {
  background: #ef9090 !important;
}
form input[type=checkbox] {
  box-sizing: content-box !important;
  transition: background 0.2s;
}
form .form-row {
  width: calc(99.99% * 1/1 - (30px - 30px * 1/1));
}
form .form-row:nth-child(n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
form .form-row:last-child {
  margin-right: 0;
}
form .form-row:nth-child(1n) {
  margin-right: 0;
}
form .form-row:nth-child(1n + 1) {
  clear: left;
}
::-webkit-input-placeholder {
  color: #fff !important;
  font-weight: bold !important;
  font-family: 'Calibri', 'Candara', 'Segoe', 'Segoe UI', 'Optima', 'Arial', 'sans-serif';
}
:-moz-placeholder {
  color: #fff !important;
  font-weight: bold !important;
  font-family: 'Calibri', 'Candara', 'Segoe', 'Segoe UI', 'Optima', 'Arial', 'sans-serif';
}
::-moz-placeholder {
  color: #fff !important;
  font-weight: bold !important;
  font-family: 'Calibri', 'Candara', 'Segoe', 'Segoe UI', 'Optima', 'Arial', 'sans-serif';
}
:-ms-input-placeholder {
  color: #fff !important;
  font-weight: bold !important;
  font-family: 'Calibri', 'Candara', 'Segoe', 'Segoe UI', 'Optima', 'Arial', 'sans-serif';
}

/*# sourceMappingURL=app.css.map */
