table
	width 100%
	&.voruas, &.voruras
		figure
			margin 0 !important
			padding 0 !important
			img
				width auto !important
				max-width auto !important
		border-collapse collapse
		td, th
			padding gutter
			text-align center
			border 1px solid #EEE
			vertical-align middle